<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee
http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
	version="3.1">
	<display-name>PZ2</display-name>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
    // Апісанне фільтра
	<filter>
        // Назва фільтра
		<filter-name>SessionFilter</filter-name>
        // Поўны шлях да класа, які апісвае фільтр
		<filter-class>by.bsac.pz2.SessionFilter</filter-class>
        // Пачатковыя параметры фільтра
		<init-param>
			<param-name>ignore-urls</param-name>
            // Спіс URL-аў, якія будуць ігнаравацца фільтрам
            // Глядзі рэалізацыю ў класе SessionFilter
			<param-value>/PZ2/login,/PZ2/LoginController,/PZ2/error-login.jsp,
                         /PZ2/login.jsp,/PZ2/search</param-value>
		</init-param>
	</filter>
    // Прывязваем вышэй апісаны фільтар да ўсіх URL-аў (шаблон /*)
	<filter-mapping>
		<filter-name>SessionFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
    // Апісанне сервлета
	<servlet>
		<description></description>
        // Назва сервлета
		<display-name>LoginController</display-name>
		<servlet-name>LoginController</servlet-name>
        // Поўны шлях да класа, які апісвае сервлет
		<servlet-class>by.bsac.pz2.LoginController</servlet-class>
	</servlet>
    // Звязваем вышэй апісаны сервлет з URL-амі
	<servlet-mapping>
		<servlet-name>LoginController</servlet-name>
		<url-pattern>/login</url-pattern>
		<url-pattern>/logout</url-pattern>
	</servlet-mapping>
    // Аналагічна апісваем сервлет для індывідуальнага задання
	<servlet>
		<description></description>
		<display-name>SearchWords</display-name>
		<servlet-name>SearchWords</servlet-name>
		<servlet-class>by.bsac.pz2.SearchWords</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>SearchWords</servlet-name>
		<url-pattern>/search</url-pattern>
	</servlet-mapping>
</web-app>
